#water {
  border: 4px solid rgba(212, 206, 206, 0.932);
  border-radius: 5px;
}

#coffee {
  border: 4px solid rgba(212, 206, 206, 0.932);
  border-radius: 5px;
}
#smoothie {
  border: 4px solid rgba(212, 206, 206, 0.932);
  border-radius: 5px;
}
#orange-juice {
  border: 4px solid rgba(212, 206, 206, 0.932);
  border-radius: 5px;
}

#dubai {
  border: 4px solid rgba(212, 206, 206, 0.932);
  border-radius: 5px;
}

#france {
  border: 4px solid rgba(212, 206, 206, 0.932);
  border-radius: 5px;
}

#australia {
  border: 4px solid rgba(212, 206, 206, 0.932);
  border-radius: 5px;
}

#new-york {
  border: 4px solid rgba(212, 206, 206, 0.932);
  border-radius: 5px;
}

#breakfast {
  border: 4px solid rgba(212, 206, 206, 0.932);
  border-radius: 5px;
}
#lunch {
  border: 4px solid rgba(212, 206, 206, 0.932);
  border-radius: 5px;
}
#dinner {
  border: 4px solid rgba(212, 206, 206, 0.932);
  border-radius: 5px;
}
#brunch {
  border: 4px solid rgba(212, 206, 206, 0.932);
  border-radius: 5px;
}
